{% extends "base.html" %}

{% block breadcrumbs %}
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'index' %}">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'accounts:password_reset' %}">Password reset</a>
    </li>
    <li class="breadcrumb-item active">Email sent!</li>
  </ol>
{% endblock breadcrumbs %}

{% block content %}
<div class="container">
    <div class="card card-login mx-auto mt-5 mb-3">
        <div class="card-header">Email sent!</div>
        <div class="card-body">
            {{ form }}
            We've emailed instructions for setting your password to {{ hank }}. 
            If they haven't arrived in a few minutes, check your spam folder.
        </div>
    </div>
</div>
{% endblock %}
