{% extends "base.html" %}

{% block breadcrumbs %}
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'index' %}">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'accounts:password_change' %}">Password change</a>
    </li>
    <li class="breadcrumb-item active">Done!</li>
  </ol>
{% endblock breadcrumbs %}

{% block content %}
<div class="container">
    <div class="card card-login mx-auto mt-5 mb-3">
        <div class="card-header">Done!</div>
        <div class="card-body">
            Your password has been updated!
        </div>
    </div>
</div>
{% endblock %}
