{% extends "base.html" %}

{% block breadcrumbs %}
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'index' %}">Home</a>
    </li>
    <li class="breadcrumb-item active">New password</li>
  </ol>
{% endblock breadcrumbs %}

{% block content %}
  <div class="container">
    <div class="card card-login mx-auto mt-5 mb-3">
      <div class="card-header">Login</div>
      <div class="card-body">

        {% if validlink %}
        <form method="post" action="">
        {% csrf_token %}

          <div class="form-group">
            <div class="form-label-group">
              {{ form.new_password1.errors }}
              <input type="password" id="id_new_password1" class="form-control" placeholder="Password" required="required">
              <label for="id_new_password1">New password</label>
            </div>
          </div>

          <div class="form-group">
            <div class="form-label-group">
              {{ form.new_password2.errors }}
              <input type="password" id="id_new_password2" class="form-control" placeholder="Password" required="required">
              <label for="id_new_password2">Confirm password</label>
            </div>
          </div>
          <input class="btn btn-primary btn-block" type="submit" value="Change my password">
        </form>
        {% else %}
            <h1>Password reset failed</h1>
            <p>The password reset link was invalid, possibly because it has already been used. 
            Please <a href="{% url 'accounts:password_reset' %}">request a new password reset.</a> link and try again.
            Our reset tokens are valid for approximately three days. </p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
