{% extends "base.html" %}

{% block breadcrumbs %}
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'index' %}">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'accounts:password_reset' %}">Password reset</a>
    </li>
    <li class="breadcrumb-item active">Email sent!</li>
  </ol>
{% endblock breadcrumbs %}

{% block content %}
<div class="container">
    <div class="card card-login mx-auto mt-5 mb-3">
        <div class="card-header">Email sent!</div>
        <div class="card-body">
            We've emailed instructions for resetting your password to <strong>{{ request.session.password_reset_email }}</strong>.
            If the email does not arive within the next few minutes, check your spam folder. If you still cannot find
            the email, please contact us.
        </div>
    </div>
</div>
{% endblock %}
