{% load i18n %}{% autoescape off %}Dear {{ full_name }},

You receive this email because an admin at {{ domain }} sent you a password reset link.
Ignore this email if you do not want to reset your password.


Please use the reset link below within the next 24 hours to reset your password. 
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
As a reminder, the username that you can use to login is: {{ user.get_username }}.


The token is set to expire for security reasons. If you receice an error stating
that the token is invalid or has expired, simply request a new <a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset' %}">password reset email</a>.

Kind regards,
The Supaharris team
{% endautoescape %}
