{% load static %}
{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head id="head">
  <title>Surrey GC archive</title>
  <link rel="shortcut icon" href="//www.surrey.ac.uk/sites/all/themes/surrey_theme/favicon.ico" type="image/x-icon" />
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
  <meta name="description" content=""/>
  <meta name="keywords" content="" />
  <meta name="robots" content="index, follow" />

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.18/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.18/datatables.min.js"></script>



</head>
<body>

    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="#">SuperHarris</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">

        <li class="nav-item"><a class="nav-link" href="/catalogue/">Home</a></li>
        <li class="nav-item {% if request.resolver_match.url_name == "index" %}active{% endif %}">
          <a class="nav-link" href="{% url "test" %}">Catalogue</a>
        </li>

        <li class="nav-item {% if request.resolver_match.url_name == "references" %}active{% endif %}">
          <a class="nav-link" href="{% url "references" %}">References</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">New feature</a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == "about" %}active{% endif %}">
          <a class="nav-link" href="{% url "about" %}">About</a>
        </li>



        </ul>
      </div>
    </nav>



    <div class="container">
    <div class="starter-template">
        <center>
            <h1>Globular Cluster Catalogue</h1>
            <p class="lead">A dynamic high-level catalogue hosting the properties of Milky Way Globular Clusters</p>
        </center>
    </div>

    </div>

{% block content %}{% endblock %}

</body>
</div>
</html>
