{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %}
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'index' %}">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'catalogue:astro_object_list' %}">AstroObjects</a>
    </li>
    <li class="breadcrumb-item active">{{ astro_object.name }} {% if astro_object.altname %} ({{ astro_object.altname }}) {% endif %}</li>
  </ol>
{% endblock breadcrumbs %}

{% block content %}
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-star"></i>
    {{ astro_object.name }} {% if astro_object.altname %} ({{ astro_object.altname }}) {% endif %}
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="observations{{ astro_object.id }}" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Value</th>
            <th>sigma_up</th>
            <th>sigma_down</th>
            <th>Reference</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Parameter</th>
            <th>Value</th>
            <th>sigma_up</th>
            <th>sigma_down</th>
            <th>Reference</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
{% endblock content %}

{% block bottomscripts %} {{ block.super }}
    <script type="text/javascript" src="{% static 'catalogue/js/astro_object_detail.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            retrieve_astro_object_observations( {{ astro_object.pk }} );
        });
    </script>
{% endblock bottomscripts %}
