{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %}
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'index' %}">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'catalogue:cluster_list' %}">Globular Clusters</a>
    </li>
    <li class="breadcrumb-item active">{{ cluster.name }}</li>
  </ol>
{% endblock breadcrumbs %}

{% block content %}
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-star"></i>
    {{ cluster.name }}</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="cluster" width="100%" cellspacing="0">
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
{% endblock content %}

{% block bottomscripts %} {{ block.super }}
    <script type="text/javascript" src="{% static 'catalogue/js/cluster_detail.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            retrieve_cluster( {{ cluster.pk }} );
        });
    </script>
{% endblock bottomscripts %}
