{% extends "base.html" %}
{% load static %}

{% block stylesheets %} {{ block.super }}
{% endblock stylesheets %}

{% block breadcrumbs %}
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'index' %}">Home</a>
    </li>
    <li class="breadcrumb-item active">References</li>
  </ol>
{% endblock breadcrumbs %}

{% block content %}
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-fw fa-book-open"></i>
    References</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="references" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>First Author</th>
            <th>Year</th>
            <th>Title</th>
            <th>External URL</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>First Author</th>
            <th>Year</th>
            <th>Title</th>
            <th>External URL</th>
          </tr>
        </tfoot>
        <tbody id="AstroObjectRow">
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated {{ date_updated }}</div>
</div>
{% endblock %}

{% block bottomscripts %} {{ block.super }}
    <script type="text/javascript" src="{% static 'catalogue/js/reference_list.js' %}"></script>
{% endblock bottomscripts %}
