{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %}
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'index' %}">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'catalogue:reference_list' %}">References</a>
    </li>
    <li class="breadcrumb-item active">{{ reference.first_author }} ({{ reference.year }})</li>
  </ol>
{% endblock breadcrumbs %}

{% block content %}
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-fw fa-book-open"></i>
    {{ reference.first_author }} ({{ reference.year }}) </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="reference" width="100%" cellspacing="0">
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

{% comment %}
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-fw fa-star"></i>
    AstroObjects
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="astro_objects{{ reference.id }}" width="100%" cellspacing="0">
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
{% endcomment %}

<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-fw fa-binoculars"></i>
    Observations
 </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="observations{{ reference.pk }}" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>AstroObjects</th>
            <th>Alias</th>
            <th>Parameter</th>
            <th>Value</th>
            <th>Sigma Up</th>
            <th>Sigma Down</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>AstroObject</th>
            <th>Alias</th>
            <th>Parameter</th>
            <th>Value</th>
            <th>Sigma Up</th>
            <th>Sigma Down</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
{% endblock content %}

{% block bottomscripts %} {{ block.super }}
    <script type="text/javascript" src="{% static 'catalogue/js/reference_detail.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            retrieve_reference( {{ reference.pk }} );
            retrieve_reference_observations( {{ reference.pk }} );
        });
    </script>
{% endblock bottomscripts %}
