{% extends "base.html" %}
{% load static %}

{% block stylesheets %} {{ block.super }}
{% endblock stylesheets %}

{% block breadcrumbs %}
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'index' %}">Home</a>
    </li>
    <li class="breadcrumb-item active">Search</li>
  </ol>
{% endblock breadcrumbs %}

{% block content %}
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-fw fa-search"></i>
    Search Results
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm">
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-fw fa-star"></i>
            Globular Clusters
          </div>
          <div class="card-body">
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-fw fa-book-open"></i>
            References
          </div>
          <div class="card-body">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block bottomscripts %} {{ block.super }}
    <script type="text/javascript" src="{% static 'catalogue/js/search.js' %}"></script>
{% endblock bottomscripts %}

