{% extends "base.html" %}
{% load static %}

{% block breadcrumbs %}
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'index' %}">Home</a>
    </li>
    <li class="breadcrumb-item active">Page not found</li>
  </ol>
{% endblock breadcrumbs %}

{% block content %}
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-fw fa-book-open"></i>
    Page not found</div>
  <div class="card-body">
      Wops, we could not find the page you were looking for.
  </div>
</div>
{% endblock %}
