{% load static %}
{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="Referrer" content="origin">
    <meta name="robots" content="index, follow"/> 

    <meta name="author" content="Timo Halbesma, Eduardo Balbinot, David Hendriks"/>
    <meta name="copyright" content="Timo Halbesma, Eduardo Balbinot, David Hendriks" />

    <link rel="apple-touch-icon" href="{% static 'img/favicon.png' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    <link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'img/favicon.png' %}" />
    <link rel="icon" type="image/gif/png" href="{% static 'img/favicon.png' %}">

    {# Meta tags for auto-retrieved data when shared on social #}
    <title>{% block page_title %} Surrey GC archive {% endblock page_title %}</title>
    <link rel="image_src" href="{% block meta_image %} {{ page_image }} {% endblock meta_image %}"/>
    <meta name="description" content="{% block meta_description %}{{ page_description }}{% endblock meta_description %}"/>
    <meta name="keywords" content="{% block meta_keywords %} {{ page_keywords }} {% endblock meta_keywords %}"/>
    <meta property="og:image" content="{% block meta_og_image %}{{ og_image }}{% endblock meta_og_image %}"/>
    <meta property="og:title" content="{% block meta_og_title %}{{ og_title }}{% endblock meta_og_title %}"/>
    <meta name="twitter:card" content="{% block meta_twitter_card %}{{ twitter_card }}{% endblock meta_twitter_card %}"/>
    <meta name="twitter:site" content="{% block meta_twitter_site %}{{ twitter_site }}{% endblock meta_twitter_site %}"/>
    <meta name="twitter:title" content="{% block meta_twitter_title %}{{ twitter_title }}{% endblock meta_twitter_title %}"/>
    <meta name="twitter:description" content="{% block meta_twitter_description %}{{ twitter_description }}{% endblock meta_twitter_description %}"/>
    <meta name="twitter:image" content="{% block meta_twitter_image %}{{ twitter_image }}{% endblock meta_twitter_image %}"/>

{% block stylesheets %}
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/jquery-typeahead/jquery.typeahead.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.css">
{% endblock stylesheets %}

{% block topscripts %}
    {# Mandatory cookie consent pop-up #}
    <script type="text/javascript">
        window.cookieconsent_options = {
            "message": "We use temporary cookies to improve functionality of "+
                "the website. By using this website you accept our Privacy Policy.", 
            "dismiss":"Accept!", "learnMore": "Learn More", 
            "link": "{% url 'about:privacy_policy' %}", "theme": "dark-bottom"
        };
    </script>
{% endblock topscripts %}

</head>


<body id="page-top">
    {% include 'header.html' %}

  <div id="wrapper">
    {% include 'sidebar.html' %}

    <div id="content-wrapper">
      <div class="container-fluid">

      {% block breadcrumbs %}
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">
            <a href="{% url 'index' %}">Home</a>
          </li>
        </ol>
      {% endblock breadcrumbs %}

      {% block content %}
        <!-- Icon Cards-->
        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-comments"></i>
                </div>
                <div class="mr-5">26 New Messages!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-fw fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-list"></i>
                </div>
                <div class="mr-5">11 New Tasks!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-fw fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-shopping-cart"></i>
                </div>
                <div class="mr-5">123 New Orders!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-fw fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-life-ring"></i>
                </div>
                <div class="mr-5">13 New Tickets!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-fw fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>

        <!-- Area Chart Example-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Area Chart Example</div>
          <div class="card-body">
            <canvas id="myAreaChart" width="100%" height="30"></canvas>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

      </div>
      <!-- /.container-fluid -->
      {% endblock content %}

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'accounts:logout' %}">Logout</a>
        </div>
      </div>
    </div>
  </div>


    {% include 'footer.html' %}

    {% block bottomscripts %}
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-typeahead/jquery.typeahead.min.js' %}"></script>

    <!-- Page level plugin JavaScript-->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin.min.js' %}"></script>
    <script src="{% static 'catalogue/js/search.js' %}"></script>

    <!-- Cookie consent pop-up -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>

    <!-- Bokeh -->
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js""></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-api-1.0.4.min.js"></script>
    {% endblock bottomscripts %}

</body>

</html>
