{% load static %}
{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="Referrer" content="origin">
    <meta name="robots" content="index, follow" /> 
    <meta charset="utf8"/>

    <meta name="author" content="Timo Halbesma, Eduardo Balbinot"/>
    <meta name="copyright" content="Timo Halbesma, Eduardo Balbinot" />

    <link rel="apple-touch-icon" href="{% static 'img/favicon.png' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    <link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'img/favicon.png' %}" />
    <link rel="icon" type="image/gif/png" href="{% static 'img/favicon.png' %}">

    {# Meta tags for auto-retrieved data when shared on social #}
    <title>{% block page_title %} Surrey GC archive {% endblock page_title %}</title>
    <link rel="image_src" href="{% block meta_image %} {{ page_image }} {% endblock meta_image %}"/>
    <meta name="description" content="{% block meta_description %}{{ page_description }}{% endblock meta_description %}"/>
    <meta name="keywords" content="{% block meta_keywords %} {{ page_keywords }} {% endblock meta_keywords %}"/>
    <meta property="og:image" content="{% block meta_og_image %}{{ og_image }}{% endblock meta_og_image %}"/>
    <meta property="og:title" content="{% block meta_og_title %}{{ og_title }}{% endblock meta_og_title %}"/>
    <meta name="twitter:card" content="{% block meta_twitter_card %}{{ twitter_card }}{% endblock meta_twitter_card %}"/>
    <meta name="twitter:site" content="{% block meta_twitter_site %}{{ twitter_site }}{% endblock meta_twitter_site %}"/>
    <meta name="twitter:title" content="{% block meta_twitter_title %}{{ twitter_title }}{% endblock meta_twitter_title %}"/>
    <meta name="twitter:description" content="{% block meta_twitter_description %}{{ twitter_description }}{% endblock meta_twitter_description %}"/>
    <meta name="twitter:image" content="{% block meta_twitter_image %}{{ twitter_image }}{% endblock meta_twitter_image %}"/>

</head>

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.18/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}"/>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css" rel="stylesheet" type="text/css">
{% endblock stylesheets %}

{% block topscripts %}
    {# Mandatory cookie consent pop-up #}
    <script type="text/javascript">
        window.cookieconsent_options = {
            "message": "We use temporary cookies to improve functionality of "+
                "the website. By using this website you accept our Privacy Policy.", 
            "dismiss":"Accept!", "learnMore": "Learn More", 
            "link": "{% url 'about:privacy_policy' %}", "theme": "dark-bottom"
        };
    </script>
{% endblock topscripts %}


<body>
    {% include 'header.html' %}

    <div class="container">
        <div class="starter-template">
            <center>
                <h1>Globular Cluster Catalogue</h1>
                <p class="lead">A dynamic high-level catalogue hosting the properties of Milky Way Globular Clusters</p>
            </center>

            {% block content %}
            {% endblock %}
        </div>
    </div>

    {% include 'footer.html' %}

    {% block bottomscripts %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.18/datatables.min.js"></script>


    <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
    {% endblock bottomscripts %}

</body>
</html>
