  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="{% url 'index' %}">SupaHarris</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-auto">
      <div class="input-group">
        <input id="globalSearch" type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span>Account</span>
          <i class="fas fa-fw fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
        {% if request.user.is_authenticated %}
          <a class="dropdown-item" href="{% url 'accounts:profile' %}">
            <i class="far fa-fw fa-address-card"></i>
            <span>Profile</span>
          </a>
          <a class="dropdown-item" href="{% url 'accounts:logout' %}">
            <i class="fas fa-fw fa-sign-out-alt"></i>
            <span>Logout</span>
          </a>
        {% else %}
          <a class="dropdown-item" href="{% url 'accounts:login' %}">
            <i class="fas fa-fw fa-sign-in-alt"></i>
            <span>Login</span>
          </a>
          <a class="dropdown-item" href="{% url 'accounts:register' %}">
            <i class="fas fa-fw fa-user-plus"></i>
            <span>Register</span>
          </a>
          <a class="dropdown-item" href="{% url 'accounts:password_reset' %}">
            <i class="fas fa-fw fa-undo"></i>
              <span>Forgot Password</span>
          </a>
        {% endif %}
        </div>
      </li>
    </ul>
  </nav>
