    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'catalogue:astro_object_list' %}">
          <i class="fas fa-fw fa-star"></i>
          <span>Astro Objects</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'catalogue:parameter_list' %}">
          <i class="fas fa-fw fa-gem"></i>
          <span>Parameters</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'catalogue:observation_list' %}">
          <i class="fas fa-fw fa-binoculars"></i>
          <span>Observations</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'catalogue:reference_list' %}">
          <i class="fas fa-fw fa-book-open"></i>
          <span>References</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about:info' %}">
          <i class="fas fa-fw fa-info"></i>
          <span>About</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'api-root' %}">
          <i class="fas fa-fw fa-database"></i>
          <span>Raw Data</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/tlrh314/supaharris">
          <i class="fab fa-fw fa-github"></i>
          <span>Open Source</span></a>
      </li>
    </ul>
