{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% load staticfiles %}
{% block content %}

<script type="text/javascript" charset="utf-8">

$(document).ready(function() {
    $('#example').DataTable({
      "pageLength": 50,
        "searching": false,
        "paging": false,
        "ordering": false,

    } );
} );

</script>


<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>{{ cluster }}</h2>
      <div id="table"> {% render_table observations %}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
     <div class="jumbotron">
      <h3>Surface brightness profile</h3>
      <p class="lead"> {{ figure|safe }} </p>
      <p class="lead">
        <a class="float-right btn btn-primary btn-sm" href="#" role="button">Download data</a>
      </p>
    </div>
    </div>

    <div class="col-md-4">
     <div class="jumbotron">
        <h3>ESA Sky</h3>
        
      <p class="lead"> <iframe src="{{ esaurl|safe }}" width="640px" height="640px"></iframe> </p>
      <p class="lead">
        <a class="float-right btn btn-primary btn-sm" href="{{esaurl|safe}}" role="button">Go to ESASky</a>
      </p>
      </div>
    </div>
    <div class="col-md-4">
        <h3>Image? Velocity dispersion profile?</h3>
    </div>
  </div>
</div>

<script type="text/javascript">
    // For demo to fit into DataTables site builder...
    $('#example')
        .addClass('display table-striped table-bordered');
</script>


{% endblock %}
