{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
<script charset="utf8" type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>

<script type="text/javascript" charset="utf-8">

$(document).ready(function() {
    $('#example').DataTable({
      "pageLength": 50,
      "dom": '<"top"iflp<"clear">>rt<"bottom"iflp<"clear">>', 
      "order": [[ 2, "asc" ]],
    } );
} );

</script>


<div class="container-fluid">
        <h2>Harris 1996 (2010 edition)</h2>
        {% render_table observations %}
</div>


<script type="text/javascript">
    // For demo to fit into DataTables site builder...
    $('#example')
        .addClass('display compact table-striped table-bordered');
</script>

{% endblock %}
