{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% load staticfiles %}
{% block content %}

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
  <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
            $('#example').DataTable();
      } );
  </script>

<div class="col1">
  <h2>Co-ordinate and Positional Data (Harris 1996 (2010 edition))</h2>

   {% render_table observations %}

</div>
<br/>

<script type="text/javascript">
    // For demo to fit into DataTables site builder...
    $('#example')
        .removeClass( 'display' )
        .addClass('table table-striped table-bordered');
</script>

{% endblock %}
